{% extends "base.html" %}

{% block title %}register.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
    <style>

        .submit1{
            /*margin: 5px 0;*/
            text-align: center;
        }


        .content {
            width: 50%;
            height: 500px;
            background:#fff;
            margin: 60px auto;
            border:1px solid #e5e5e5;
            -moz-box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
            -webkit-box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
            box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
            text-align: center;
            padding-top: 20px;
            font-family: Arial, sans-serif;
        }

        .content h1{
            font-size: 30px;
            font-weight: bold;
        }




        .content form {
            margin:0px auto;                     
            margin-top:30px;
            padding:20px;
        }

        .form-row{
            font-size: 11pt;
            font-family: Arial, sans-serif;
        }

                .errornote{
            text-align: center;
            color: red;
            font-size: 16px;
        }


</style>

    <form method="post" action="."> {% csrf_token %}



<div class="content">

   <h1>회원가입</h1>
   <br>

    <fieldset class="aligned">
    
        <div class="form-row">
            아 이 디&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  {{ form.username }}
        </div>
        <br>
        <div class="form-row">
            비 밀 번 호&nbsp&nbsp&nbsp&nbsp  {{ form.password1 }}
        </div>
        <br>
        <div class="form-row">
            비밀번호 확인&nbsp  {{ form.password2 }}
        </div>
<!-- 
        <div class="form-row">
            이메일 : {{ form.email }}
        </div>

        <div class="form-row">
            전화번호 : {{ form.phone }}
        </div> -->


    </fieldset>
    <br>
        {% if form.errors %}
    <p class="errornote">정확하게 입력해주세요.</p>
    {% endif %}
    
    <br>
    <div class="submit1">
        <input type="submit" value="회원가입"
        class="btn  " 
        style="height: 40px; width: 400px; background-color: #BDBDBD;"/>
    </div>
    
    <script type="text/javascript">document.getElementById("id_username").focus();</script>
    </form>

</div>

{% endblock %}

